.content-body{
    
    .first-content{
        display: flex;
        align-items: center;
        justify-content: center;
        // margin-top: 200px;
        min-height:390px;

        .ant-tabs-nav{
            font-size: 16px;
        }

        .ant-tabs-tab-active{
            color: #1f7cad;
        }
    }

    .second-content{
        .watch-case {
            font-size: 28px;
            color: #333333;
            text-align: center;

        }
    }
}